<% provide(:title, 'About Twitter Twin') %>
<h1>About Twitter Twin</h1>
<p>
Twitter Twin immitates main features from the good old Twitter we know and love. The project was built using <a href="http://railstutorial.org/">Ruby on Rails Tutorial by Michael Hartl</a>, an awsome e-book to get your toes wet if you are interested in Ruby on Rails framework. This project's code is currently online as a <a href='https://github.com/dushi27/Twitter'>Git Hub repository</a>. So feel free to Fork and explor!
</p>

