<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you have any trouble shoots, questions and/or comments please tweet me at <a href='https://twitter.com/Dushyanthi1'>@dushyanthi1</a> or you can visit the original <a href='https://github.com/dushi27/Twitter'>Git Hub repository</a> attached to this projects. Again thank you for visiting T-Twin!
</p>

 